<div class='main-container'>
  <section class='moto-container'>
      <h1 class='moto'>Show me your mental muscles!!</h1>
      <h3 class='moto'>...and I may become your sensei...</h3>
  </section>
  <section class='chat-container'>
    <% if user_signed_in? %>
        <%= link_to 'Chat', messages_path, :class => 'btn btn-default btn-lg chat-btn' %>
    <% end %>
  </section>
  <section class='home-image-container'></section>
</div>
